

$primary: #088CE8;
$link: #de5b85;
$light: #bea5aa;
$card-radius: 20px; 
$family-primary: 'Source Serif 4', sans-serif;




// @import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.has-background-semitransparent {
    background: hsla(0, 0%, 100%, 0.25);
}

.container .container-rounded {
    border-radius: 40px;
}

.flag {
    border-radius: 50%;
    background-color: $grey;
    &.big {
        width: 3rem;
        height: 3rem;
    }
    &.small {
        width: 1.25rem;
        height: 1.25rem;
    }
    &.red {
        background-color: $danger;
    }
    &.yellow {
        background-color: $warning;
    }
    &.green {
        background-color: $success;
    }
}